version: '3.1'
services:
  reverse-proxy:
    image: traefik:1.7-alpine
    command: >
      --docker
      --docker.watch
      --api
      --loglevel=DEBUG
    ports:
      # The HTTP port
      - 80:80
      # The Web UI (enabled by --api.insecure=true)
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - example-network
  rabbitmq:
    image: rabbitmq:3-alpine
    ports:
      - 15672:15672
      # - 5673:5672
    networks:
      - example-network
    environment:
      RABBITMQ_ERLANG_COOKIE: {{ rabbitmq_erlang_cookie }}
      RABBITMQ_DEFAULT_USER: {{ rabbitmq_default_user }}
      RABBITMQ_DEFAULT_PASS: {{ rabbitmq_default_pass }}
      RABBITMQ_NODE_PORT: {{ rabbitmq_node_port }}
    healthcheck:
      test: ['CMD', 'rabbitmqctl', 'status']
      interval: 30s
      timeout: 15s
      retries: 3
  redis:
    image: redis:5-alpine
    # ports:
    #   - 6379:6379
    networks:
      - example-network
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 30s
      timeout: 15s
      retries: 3
  app-celery-worker:
    image: jinyoungk/flask-docker-swarm-example-app:latest
    command: ['app-celery-worker']
    networks:
      - example-network
    environment:
      CELERY_BROKER_URL: {{ app_celery_broker_url }}
      CELERY_RESULT_BACKEND: {{ app_celery_result_backend }}
      CACHE_REDIS_URL: {{ app_cache_redis_url }}
      SESSION_TYPE: {{ app_session_type }}
      SESSION_REDIS_URL: {{ app_session_redis_url }}
    depends_on:
      - reverse-proxy
      - rabbitmq
      - redis
  app:
    image: jinyoungk/flask-docker-swarm-example-app:latest
    command: ['app', '0.0.0.0:5000']
    labels:
        - "traefik.enable=true"
        - "traefik.port=5000"
        - "traefik.docker.network=flask-docker-swarm-example_example-network"
        - "traefik.frontend.rule=PathPrefix:/;"
        - "traefik.backend.loadbalancer.stickiness=true"
    environment:
      CELERY_BROKER_URL: {{ app_celery_broker_url }}
      CELERY_RESULT_BACKEND: {{ app_celery_result_backend }}
      CACHE_REDIS_URL: {{ app_cache_redis_url }}
      SESSION_TYPE: {{ app_session_type }}
      SESSION_REDIS_URL: {{ app_session_redis_url }}
    networks:
      - example-network
    depends_on:
      - reverse-proxy
      - rabbitmq
      - redis
      - app-celery-worker

networks:
  example-network:
    driver: bridge
